.wrapper {
  display: flex;
  padding: 0 15px;
  margin: 0 auto;
}

.posts {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;

  & .contnet {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
  }
}
