.leftSide {
  background-color: #2b2f3e;
  color: #fff;
  height: 100vh;
  width: 30vh;
  text-align: center;

  & div {
    padding: 10px;

    & h2 {
      font-size: 36px;
    }

    & p {
      font-weight: 300;
      color: #5b5d63;
    }
  }
}
